body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.hiddenForm {
  display: none;
}

@font-face {
  src: url("./Fonts/Lato-Thin.ttf");
  font-family: lato;
}

@font-face {
  src: url("./Fonts/Lato-Light.ttf");
  font-family: latoLight;
}

@font-face {
  src: url("./Fonts/SIMPLIFICA.ttf");
  font-family: simplifica;
}

.document {
  opacity: 0;
}

.loader {
  /* border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px; */
  /* animation: spin 2s linear infinite; */
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: simplifica;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  color: white;
  background-color: transparent;
  opacity: 1;
}

.unload {
  display: none;
}

/* 
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes load {
  0% {
    opacity: 1;
    font-size: 23px;
    font-weight: 400;
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    font-size: 25px;
    font-weight: 600;
    filter: blur(0);
  }
}

/* NAV BAR STYLES */

.navigation {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  transition: 1s all ease-in-out;
}

.scrolled {
  background-color: black;
}

.logo {
  float: left;
  margin: auto;
  margin-top: 0;
  height: 100%;
  width: 70px;
  margin-left: 90px;
  text-align: center;
}

.logo img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  cursor: pointer;
}

.logo li {
  height: 80%;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 60%;
  float: right;
  justify-content: center;
  height: 100%;
  position: relative;
  margin: auto;
  font-size: 18px;
  font-family: lato;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px black;
}

.navlinks li {
  margin: auto;
  cursor: pointer;
}

/* HERO IMAGE STYLES */

.heroimage {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("./images/streetBG.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.heroimage h1 {
  height: 95px;
  margin: 0 auto;
  width: 90%;
  font-family: lato;
  font-size: 55px;
  text-shadow: 2px 2px black;
  transition: 1.4s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
}
.button {
  height: 5vh;
  width: 10vw;
  margin: 0 auto;
  font-family: lato;
  display: inline-flex;
  border: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: transparent;
  opacity: 0;
  transition: 1.5s all ease-in-out;
  transform: translateX(22px);
  cursor: pointer;
}

.heroimage a {
  text-decoration: none;
}

/* ABOUT SECTION */

.about {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: latoLight;
  margin: auto;
}

.about h1 {
  width: 72.5%;
  font-size: 48px;
  margin: auto;
  margin-bottom: 25px;
  text-align: justify;
  text-transform: uppercase;
  transition: 1.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
}

.about p {
  width: 72.5%;
  height: 50%;
  font-size: 32px;
  margin: auto;
  margin-top: 0;
  text-align: justify;
  transition: 1.5s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
}

/* PROJECTS SECTION */

.projects {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: latoLight;
  text-transform: uppercase;
}

.projectHeader {
  height: 27%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: justify;
  width: 72.5%;
}

.projectHeader h1 {
  font-size: 48px;
  transition: 1.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
}

.projectShowcase {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: inline-block;
  transition: 1.5s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
}

.projectCards {
  width: 290px;
  height: 370px;
  background-color: #ffff;
  box-shadow: 1px 1px 3px;
  text-align: center;
  padding: 0;
  margin: 20px 23px;
  display: inline-block;
  position: relative;
}

.projectCards h3 {
  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
  font-family: latoLight;
  font-weight: bold;
  width: 95%;
  height: 8%;
  text-align: center;
}

.projectCards p {
  font-size: 13px;
  font-family: latoLight;
  margin: auto;
  margin-top: 7px;
  width: 90%;
}

.projectCards img {
  height: 55%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.buttonsCont {
  width: 100%;
  position: absolute;
  top: 45%;
  height: 10%;
  display: none;
}

.buttonLinks {
  height: 100%;
  width: 35%;
  margin: auto 10px;
  padding: 0;
  font-family: lato;
  border: 2px solid white;
  text-transform: none;
  text-decoration: none;
  background-color: black;
  color: white;
  display: inline-block;
  position: relative;
}

/* CONTACT SECTION */

.contactSection {
  height: 65vh;
  width: 100%;
  background-color: #505050;
  color: white;
  font-family: lato;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
}

.contactHeader {
  height: 21%;
  width: 50%;
  margin: auto;
  padding: 0;
  padding-top: 1px;
}
.contactHeader h1 {
  margin-bottom: 0;
}
.contactHeader p {
  margin: 5px auto;
  text-transform: none;
}

/* FORMS ON CONTACT SECTION */
.inputForms {
  margin: 0 auto;
  width: 350px;
  height: 69%;
  padding: auto;
  padding-bottom: 0;
}

form {
  display: block;
  height: 99%;
  /* border: 1px solid red; */
  padding-bottom: 0;
}

input {
  display: block;
  width: 325px;
  margin: 1px auto;
}

textarea {
  width: 323px;
  height: 75%;
  margin: 7px auto;
}

.emailForm {
  /* border: 1px solid white; */
  height: 17%;
  width: 325px;
  margin: auto;
  text-align: justify;
}
.subjectForm {
  /* border: 1px solid white; */
  height: 17%;
  width: 325px;
  margin: auto;
  text-align: justify;
}
.messageForm {
  /* border: 1px solid white; */
  height: 45%;
  width: 325px;
  text-align: justify;
  margin: auto;
}
.buttonForm {
  width: 325px;
  margin: 8px auto 0 auto;
  height: 30px;
}

.submitButton {
  height: 5vh;
  width: 330px;
  margin: 0 auto;
  font-family: lato;
  display: inline-flex;
  border: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/* LOGOS IN CONTACT SECTION */

.contactLogos {
  height: 40px;
  margin: auto auto 0 auto;
}

.contactLogos img {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: auto 20px;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1290px) {
  /*NAVIGATION */
  .logo {
    margin-left: 50px;
  }
  /* HERO IMAGE */

  .heroimage h1 {
    height: 160px;
    width: 70%;
    font-size: 43px;
  }
  .button {
    height: 5vh;
    width: 10vw;
    font-size: 10px;
  }

  /* ABOUT ME SECTION */

  .about h1 {
    height: 23%;
    margin-top: 70px;
  }

  /* PROJECTS SECTION */
  .projectHeader {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  /* NAVIGATION  */
  .navigation {
    height: 60px;
    width: 100%;
    z-index: 2;
  }

  .logo {
    margin-left: 40px;
  }

  .logo li {
    height: 80%;
    cursor: pointer;
  }

  .navlinks {
    font-size: 15px;
  }

  /* HERO IMAGE */

  .heroimage {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .heroimage h1 {
    height: 150px;
    width: 70%;
    font-size: 37px;
  }

  .button {
    height: 5vh;
    width: 15vw;
    font-size: 10px;
  }

  /* ABOUT ME SECTION */

  .about {
    min-height: 100vh;
    height: 100%;
    width: 100%;
  }

  .about h1 {
    height: 23%;
    width: 72.5%;
    font-size: 40px;
    text-align: justify;
    margin-top: 70px;
  }

  .about p {
    width: 72.5%;
    height: 50%;
    font-size: 23px;
  }
}

@media screen and (max-width: 680px) {
  /* NAVIGATION  */
  .navigation {
    background-color: black;
    height: 60px;
    width: 100%;
    z-index: 2;
  }

  .navlinks {
    display: none;
  }
  .logo {
    float: none;
    margin: auto;
  }

  /* HERO IMAGE */

  .heroimage {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .heroimage h1 {
    height: 150px;
    width: 70%;
    font-size: 25px;
  }

  .button {
    height: 5vh;
    width: 20vw;
    font-size: 9px;
  }

  /* ABOUT ME SECTION */

  .about h1 {
    width: 72.5%;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
  }

  .about p {
    width: 72.5%;
    height: 50%;
    font-size: 23px;
  }

  /* PROJECTS SECTION */
  .projectHeader {
    height: 27%;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    width: 72.5%;
  }

  .projectShowcase {
    width: 95%;
    height: 100%;
  }

  .projectCards {
    width: 250px;
    height: 330px;
  }

  .projectCards h3 {
    font-size: 16px;
  }
  .projectCards p {
    font-size: 11px;
  }

  /* CONTACT SECTION */

  .contactSection {
    height: 65vh;
    width: 100%;
    position: relative;
  }

  form {
    width: 100%;
    min-width: 200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
  }

  input {
    min-width: 200px;
    width: 96%;
  }

  textarea {
    min-width: 200px;
    width: 96%;
    height: 60px;
    margin-left: 4px;
  }

  .emailForm {
    min-width: 200px;
    width: 96%;
  }
  .subjectForm {
    min-width: 200px;
    width: 96%;
  }
  .messageForm {
    height: 100px;
    min-width: 200px;
    width: 96%;
    margin: 0 auto;
  }
  .buttonForm {
    min-width: 200px;
    width: 96%;

    margin: 0 auto;
  }

  .submitButton {
    min-width: 207px;
    width: 98%;
  }

  /* LOGOS IN CONTACT SECTION */

  .contactLogos {
    /* border: 1px solid white; */
    height: 30px;
    margin: 15px auto 0 auto;
  }

  .contactLogos img {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
  }
}
