body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.hiddenForm {
  display: none;
}

@font-face {
  src: url("./Fonts/SIMPLIFICA.ttf");
  font-family: simplifica;
}

@font-face {
  src: url("./Fonts/Anaheim-Regular.ttf");
  font-family: anaheim;
}

@font-face {
  src: url("./Fonts/BungeeOutline-Regular.ttf");
  font-family: bungee;
}

.document {
  opacity: 0;
}

.loader {
  /* border: 10px solid #f3f3f3;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px; */
  /* animation: spin 2s linear infinite; */
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: anaheim;
  animation: load 0.5s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  color: white;
  background-color: transparent;
  opacity: 1;
}

.unload {
  display: none;
}

/* 
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes load {
  0% {
    opacity: 1;
    font-size: 23px;
    font-weight: 400;
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
    font-size: 25px;
    font-weight: 600;
    filter: blur(0);
  }
}

/* NAV BAR STYLES */

.navigation {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  transition: 1s all ease-in-out;
}

.scrolled {
  background-color: #f0eeee;
}

.logo {
  float: left;
  margin: auto;
  margin-top: 0;
  height: 100%;
  width: 70px;
  margin-left: 230px;
  text-align: center;
}

.logo img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.logo li {
  height: 80%;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 60%;
  float: right;
  justify-content: center;
  height: 100%;
  position: relative;
  margin: auto;
  font-size: 18px;
  font-family: anaheim;
  text-transform: uppercase;
  color: #000000;
}

.navlinks li {
  margin: auto;
  cursor: pointer;
}

/* HERO IMAGE STYLES */

.heroimage {
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: auto;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroimage:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url("./images/Hero\ Background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.herotext {
  width: 50%;
  height: 70vh;
  text-align: justify;
}

.herotext h1 {
  width: 60%;
  font-family: bungee;
  font-weight: 900;
  line-height: 72px;
  font-size: 60px;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
  margin: 0;
  margin-left: 240px;
  text-align: justify;
}

.herotext p {
  text-shadow: 5px 5px white;
  width: 60%;
  font-size: 24px;
  font-family: anaheim;
  transition: 0.5s all ease-in-out;
  margin-left: 240px;
  text-align: justify;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
}

a {
  z-index: 1;
}

.button {
  height: 5vh;
  font-family: anaheim;
  border: 3px solid #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  width: 20%;
  color: #000000;
  background-color: transparent;
  opacity: 0;
  margin-left: 240px;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
  border-radius: 20px;
  cursor: pointer;
}

.heroimage a {
  text-decoration: none;
}

.herovector {
  width: 50%;
  max-height: 70vh;
}

.herovector .vectorimage {
  margin: auto;
  width: 520px;
  height: 60%;
  background: #f0eeee;
  border-radius: 240px 600px 460px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transform: translateX(22px);
}

.vectorimage img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
  transform: translateY(-50px);
}

/* ABOUT SECTION */

.aboutSection {
  display: flex;
}

.about {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: anaheim;
  margin: auto;
}

.aboutBox {
  width: 50%;
  margin: 0 auto;
  height: 60vh;
}

.aboutHeader h1 {
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  text-align: justify;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
  color: #f0eeee;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.aboutHeader p {
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
  font-size: 22px;
  line-height: 40px;
  text-align: justify;
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
}

.aboutDescription p {
  font-size: 20px;
  line-height: 40px;
  margin: auto;
  margin-top: 0;
  text-align: justify;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
}

.skills {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: anaheim;
  margin: auto;
}

.skillsBox {
  width: 75%;
  margin: 0 auto;
  height: 60vh;
}

.skillsHeader h1 {
  font-size: 48px;
  line-height: 48px;
  margin: auto;
  text-align: justify;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
  color: #f0eeee;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.skillsHeader p {
  transition: 0.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
  font-size: 22px;
  line-height: 40px;
  text-align: justify;
  border-bottom: 1px solid black;
  margin: 0;
  margin-bottom: 20px;
  width: 93%;
}

.skillsDescription {
  height: 55vh;
  display: block;
  margin: 0 auto;
  text-align: justify;
  transition: 0.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
}

.skillsDescription h1 {
  margin: 0 0 20px 0;
  text-align: justify;
  font-size: 48px;
}

.skillsDescription img {
  width: 15.2%;
  margin: 4px 30px 7px 0;
}

/* PROJECTS SECTION */

.projects {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: anaheim;
  text-transform: uppercase;
}

.projectHeader {
  height: 27%;
  margin-left: 240px;
  margin-top: 170px;
  text-align: justify;
  width: 28%;
  border-bottom: 1px solid black;
  transition: 0.5s all ease-in-out;
  transform: translateX(-22px);
  opacity: 0;
}

.projectHeader h1 {
  line-height: 48px;
  margin: auto;
  text-align: justify;
  font-size: 48px;
  color: #f0eeee;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.projectHeader p {
  margin: 0;
  line-height: 40px;
}

.projectShowcase {
  width: 78%;
  height: 100%;
  margin: auto;
  margin-top: 40px;
  padding: 0;
  position: relative;
  display: block;
  transition: 0.5s all ease-in-out;
  transform: translateX(22px);
  opacity: 0;
}

.projectCards {
  width: 330px;
  height: 420px;
  background-color: #ffff;
  box-shadow: 1px 1px 3px;
  text-align: center;
  padding: 0;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin: 20px;
}

.projectCards h3 {
  font-size: 18px;
  margin: auto;
  margin-bottom: 0;
  font-family: anaheim;
  font-weight: bold;
  width: 95%;
  height: 8%;
  text-align: center;
}

.projectCards p {
  font-size: 12px;
  font-family: anaheim;
  margin: auto;
  width: 90%;
}

.projectCards img {
  height: 55%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 20px 20px 0 0;
}

.buttonsCont {
  width: 100%;
  position: absolute;
  top: 45%;
  height: 10%;
  display: none;
}

.buttonLinks {
  height: 100%;
  width: 35%;
  margin: auto 10px;
  padding: 0;
  font-family: anaheim;
  border: 2px solid white;
  text-transform: none;
  text-decoration: none;
  background-color: gray;
  color: white;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

/* CONTACT SECTION */

.contactSection {
  height: 65vh;
  width: 100%;
  background-color: #505050;
  color: white;
  font-family: anaheim;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
}

.contactHeader {
  height: 21%;
  width: 50%;
  margin: auto;
  padding: 0;
  padding-top: 1px;
}
.contactHeader h1 {
  margin-bottom: 0;
}
.contactHeader p {
  margin: 5px auto;
  text-transform: none;
}

/* FORMS ON CONTACT SECTION */
.inputForms {
  margin: 0 auto;
  width: 350px;
  height: 69%;
  padding: auto;
  padding-bottom: 0;
}

form {
  display: block;
  height: 99%;
  /* border: 1px solid red; */
  padding-bottom: 0;
}

input {
  display: block;
  width: 325px;
  margin: 1px auto;
}

textarea {
  width: 323px;
  height: 75%;
  margin: 7px auto;
}

.emailForm {
  /* border: 1px solid white; */
  height: 17%;
  width: 325px;
  margin: auto;
  text-align: justify;
}
.subjectForm {
  /* border: 1px solid white; */
  height: 17%;
  width: 325px;
  margin: auto;
  text-align: justify;
}
.messageForm {
  /* border: 1px solid white; */
  height: 45%;
  width: 325px;
  text-align: justify;
  margin: auto;
}
.buttonForm {
  width: 325px;
  margin: 8px auto 0 auto;
  height: 30px;
}

.submitButton {
  height: 5vh;
  width: 330px;
  margin: 0 auto;
  font-family: anaheim;
  display: inline-flex;
  border: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/* LOGOS IN CONTACT SECTION */

.contactLogos {
  height: 40px;
  margin: auto auto 0 auto;
}

.contactLogos img {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: auto 20px;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1290px) {
  /*NAVIGATION */
  .logo {
    margin-left: 50px;
  }
  /* HERO IMAGE */

  .heroimage {
    flex-direction: column-reverse;
  }
  .herotext {
    width: 100%;
    height: 50vh;
    text-align: center;
  }

  .herotext h1 {
    line-height: 72px;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
  }

  .herotext p {
    font-size: 20px;
    text-align: justify;
    margin: 5px auto;
  }

  .button {
    height: 5vh;
    width: 120px;
    font-size: 16px;
    margin: 5px auto;
  }

  .herovector {
    width: 100%;
    max-height: 60vh;
    margin-top: 60px;
  }

  .herovector .vectorimage {
    margin: auto;
    width: 520px;
    height: 70%;
  }

  .vectorimage img {
    width: 490px;
    transform: translateY(-58px);
  }

  /* ABOUT ME SECTION */

  .aboutSection {
    display: block;
    margin-bottom: 0;
  }

  .aboutSection p {
    font-size: 18px;
  }

  .skills {
    min-height: 100%;
    display: block;
  }

  .skills p {
    font-size: 18px;
  }

  .skillsBox {
    width: 50%;
  }

  .skillsDescription h1 {
    font-size: 40px;
  }

  .skillsDescription img {
    width: 12.9%;
    margin: 4px 30px 7px 0;
  }

  /* PROJECTS SECTION */

  .projectHeader {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectShowcase {
    width: 70%;
  }

  .projectCards {
    width: 320px;
  }

  .projectCards p {
    font-size: 12px;
    width: 80%;
  }
}

@media screen and (max-width: 844px) {
  /* NAVIGATION  */
  .navigation {
    height: 60px;
    width: 100%;
    z-index: 2;
  }

  .logo {
    margin-left: 40px;
  }

  .logo li {
    height: 80%;
    cursor: pointer;
  }

  .navlinks {
    font-size: 15px;
  }

  /* HERO IMAGE */

  .heroimage {
    display: flex;
    flex-direction: column-reverse;
  }
  .herotext {
    width: 100%;
    height: 40vh;
    text-align: center;
  }

  .herotext h1 {
    line-height: 72px;
    font-size: 44px;
    text-align: center;
    margin: 0 auto;
  }

  .herotext p {
    text-align: justify;
  }

  .herovector {
    height: 50vh;
    margin-top: 60px;
  }

  .herovector .vectorimage {
    margin: 0 auto;
    width: 400px;
    height: 80%;
  }

  .vectorimage img {
    transform: translateY(-20px);
    width: 400px;
  }

  /* ABOUT ME SECTION */
  .about {
    height: 60vh;
  }

  .aboutBox {
    height: 40vh;
    width: 60%;
  }
  .aboutSection p {
    font-size: 16px;
    line-height: 20px;
  }

  .skills p {
    font-size: 16px;
  }

  .skillsBox {
    width: 60%;
    height: 50vh;
  }

  .skillsDescription h1 {
    font-size: 35px;
  }

  .skillsDescription img {
    width: 12.5%;
    margin: 4px 30px 7px 0;
  }

  /* PROJECTS */

  .projectHeader {
    width: 60%;
  }

  .projectHeader p {
    line-height: 20px;
  }
}

@media screen and (max-width: 740px) {
  /* NAVIGATION  */
  .navigation {
    background-color: black;
    height: 60px;
    width: 100%;
    z-index: 2;
  }

  .navlinks {
    display: none;
  }
  .logo {
    float: none;
    margin: auto;
  }

  /* HERO IMAGE */

  .heroimage {
    display: flex;
    flex-direction: column-reverse;
  }
  .herotext {
    width: 100%;
    height: 40vh;
    text-align: center;
  }

  .herotext h1 {
    line-height: 50px;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }

  .herotext p {
    font-size: 16px;
    text-align: justify;
    width: 70%;
  }

  .button {
    width: 90px;
    font-size: 14px;
  }

  .herovector {
    height: 30vh;
  }

  .herovector .vectorimage {
    margin: 0 auto;
    width: 300px;
    height: 100%;
  }

  .vectorimage img {
    transform: translateY(-20px);
    width: 300px;
  }

  /* ABOUT ME SECTION */

  .about {
    height: 50vh;
  }

  .aboutBox {
    width: 70%;
    height: 45vh;
  }

  .aboutSection p {
    font-size: 16px;
  }

  .aboutSection h1 {
    font-size: 36px;
  }

  .skills p {
    font-size: 16px;
  }

  .skillsBox {
    width: 70%;
  }

  .skillsDescription h1 {
    font-size: 35px;
  }

  .skillsDescription img {
    width: 11%;
    margin: 4px 25px 7px 0;
  }

  /* PROJECTS SECTION */

  .projectHeader {
    width: 70%;
  }

  .projectHeader h1 {
    font-size: 36px;
  }

  .projectHeader p {
    font-size: 16px;
    line-height: 20px;
  }

  /* CONTACT SECTION */

  .contactSection {
    height: 65vh;
    width: 100%;
    position: relative;
  }

  form {
    width: 100%;
    min-width: 200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
  }

  input {
    min-width: 200px;
    width: 96%;
  }

  textarea {
    min-width: 200px;
    width: 96%;
    height: 60px;
    margin-left: 4px;
  }

  .emailForm {
    min-width: 200px;
    width: 96%;
  }
  .subjectForm {
    min-width: 200px;
    width: 96%;
  }
  .messageForm {
    height: 100px;
    min-width: 200px;
    width: 96%;
    margin: 0 auto;
  }
  .buttonForm {
    min-width: 200px;
    width: 96%;

    margin: 0 auto;
  }

  .submitButton {
    min-width: 207px;
    width: 98%;
  }

  /* LOGOS IN CONTACT SECTION */

  .contactLogos {
    /* border: 1px solid white; */
    height: 30px;
    margin: 15px auto 0 auto;
  }

  .contactLogos img {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  /* ABOUT ME SECTION */

  .about {
    height: 50vh;
  }

  .aboutBox {
    width: 70%;
    height: 45vh;
  }

  .aboutSection p {
    font-size: 14px;
  }

  .aboutSection h1 {
    font-size: 34px;
  }

  .skills p {
    font-size: 14px;
  }

  .skillsBox {
    width: 70%;
  }

  .skillsDescription h1 {
    font-size: 34px;
  }

  .skillsDescription img {
    width: 12%;
    margin: 4px 20px 7px 0;
  }

  /* PROJECTS SECTION */

  .projectCards {
    width: 280px;
    height: 380px;
    background-color: #ffff;
    box-shadow: 1px 1px 3px;
    text-align: center;
    padding: 0;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    margin: 20px auto;
  }
}
